html {
  scroll-snap-type: y mandatory;
}

.container {
  background-color: #0e1111;
  display: grid;
  place-items: center;
  height: 100vh;
}

.videoContainer {
  position: relative;
  height: 500px;
  overflow: scroll;
  width: 300px;
  border-radius: 20px;
  border:1px solid white;
  scroll-snap-type: y mandatory;
}

.videoContainer::-webkit-scrollbar {
  display: none; /* C,S,O */
}

.videoContainer {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* MOZ */
}

@media only screen and (max-width: 400px) {
  .videoContainer {
    height: 100vh;
    width: auto;
    border-radius: 0;
    background-color: #0e1111;
    border:none
  }
}
